@model Chat.ViewModels.UserLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm(new {ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.EditorForModel()

    <input type="submit" value="Login" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
