@model Chat.ViewModels.UserRegistration

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<img src="~/Image/1.png"/>

@using (@Html.BeginForm("Register", "Account", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    
    <div>Upload new avatar: <input type="file" name="avatar" /></div>

    <input type="submit" value="Register"/>
}
