<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
  
    <connectionStrings>
      <add name="ChatContext" 
        connectionString="Server=e2ed95c4-8a3a-4e48-a2e2-a18c00b2307d.sqlserver.sequelizer.com;Database=dbe2ed95c48a3a4e48a2e2a18c00b2307d;User ID=istukyryavkqaqda;Password=W2WpfEafZCvo4GN6cJVS8zGJDYimAzpTT7xKC53XSN73KzdBkALzYwbwsnTpvWMy;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
        <customErrors mode="Off"/>
  </system.web>
<deployment retail="false" />
</configuration>